<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssemblyRebuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AssemblyRebuilder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AssemblyRebuilder.Properties.Settings>
            <setting name="ILDasmPath" serializeAs="String">
                <value>C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.7.2 Tools\ildasm.exe</value>
            </setting>
            <setting name="ILDasmOptions" serializeAs="String">
                <value />
            </setting>
            <setting name="ILAsm2xPath" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v2.0.50727\ilasm.exe</value>
            </setting>
            <setting name="ILAsm4xPath" serializeAs="String">
                <value>C:\Windows\Microsoft.NET\Framework\v4.0.30319\ilasm.exe</value>
            </setting>
            <setting name="ILAsmOptions" serializeAs="String">
                <value> /nologo /quiet /optimize /fold</value>
            </setting>
        </AssemblyRebuilder.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AssemblyRebuilder.Properties.Settings>
            <setting name="ILAsmOptions64" serializeAs="String">
                <value> /nologo /quiet /optimize /fold /pe64 x64</value>
            </setting>
        </AssemblyRebuilder.Properties.Settings>
    </userSettings>
</configuration>